/*----------------------------------------------------------------------------*/
/* Common tag styles                                                          */
/*----------------------------------------------------------------------------*/

/* Global margin reset */
* {
  margin: 0;
  padding: 0;
}

/* Body takes all of the screen */
html, body { height: 100%; }

body {
  position: fixed;
  width: 100%;
  min-width: 320px;
  background: #fff;
  font-size: small; /* Define all font sizes relatively */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 300;
}

code {
  padding: 0.1em 0.2em;
  background: #ddd;
  font-family: 'Droid Sans Mono', Courier New, monospace;
}

/* This causes multiline contents to honor padding */
pre > code {
  display: block;
  overflow: scroll;
  line-height: 1.25em;
}

a { color: #ee7f2d; text-decoration: none; }
a:hover   { text-decoration: underline; }
a:visited { color: #eeaf2d; }

li { list-style-type: none }

/*----------------------------------------------------------------------------*/
/* Layout (menu and main content)                                             */
/*----------------------------------------------------------------------------*/
#layout {
  position: relative;
  left: 0px;
  height: 100%;
  overflow-y: scroll;
}
  #layout.active {
      left: 270px;
  }
    #layout.active > #menu {
      left: 270px;
    }
    #layout.active > #menu > #menu-drag {
      display: none;
    }
    #layout.active > #menu-link {
      left: 270px;
    }
    #layout.active > #content {
      -webkit-filter: blur(0.7px);
      -moz-filter: blur(0.7px);
      -o-filter: blur(0.7px);
      -ms-filter: blur(0.7px);
      filter: blur(0.7px);
    }

/*----------------------------------------------------------------------------*/
/* Sidebar menu                                                               */
/*----------------------------------------------------------------------------*/
#menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 271px; /* One extra pixel to make sure menu is drawn by Chrome :( */
  margin-left: -270px; 
  background: #000;
  z-index: 2; 
  /* -webkit-overflow-scrolling: touch; */

  /* Make the menu unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  #menu a {
    color: #fff;
  }
  /* Override the default Pure menu style */

/* The menu as the user understands it (i.e. excluding the panning region */
#menu-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px;
  color: #fff;
  background: #000;
  overflow-y: auto; 
}
  #menu-content > .pure-menu {
    position: absolute;
    top: 100px;
    width: 100%;
    border: none;
    background: transparent;
  }
    /* Light separating border between menu groups */
    #menu-content > .pure-menu > ul {
      font-size: smaller;
      border-top: 1px solid #333;
    }
      /* Menu hover/focus color */
      #menu-content > .pure-menu li > a:hover,
      #menu-content > .pure-menu li > a:focus {
        background: #333;
        text-decoration: none;
      }
      /* Selected menu item */
      #menu-content > .pure-menu li > a.pure-menu-selected {
        background: #555;
      }

#menu-drag {
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  width: 50px;
  background: transparent;
}

/* Menu link for responsive toggle */
#menu-link {
  position: fixed;
  display: block; 
  top: 0;
  left: 0; 
  width: 21px;
  height: auto;
  padding: 20px 15px;
  background: #000;
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 10;
  cursor: pointer;
}
  #menu-link:hover > span,
  #menu-link:hover > span:before,
  #menu-link:hover > span:after,
  #menu-link:focus > span,
  #menu-link:focus > span:before,
  #menu-link:focus > span:after {
    background: #ee7f2d;
  }
  #menu-link > span,
  #menu-link > span:before,
  #menu-link > span:after {
    position: relative;
    display: block;
    width: 100%;
    height: 0.2em;
    background: #fff;
    text-align: left;
  }
  #menu-link > span:before,
  #menu-link > span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
  }
  #menu-link > span:after {
    margin-top: 0.6em;
  }

/*----------------------------------------------------------------------------*/
/* Social icons                                                               */
/*----------------------------------------------------------------------------*/
.social {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  z-index: 0;
}
  .social > a {
    text-decoration: none;
  }
  .social > hr {
    position: absolute;
    top: 20px;
    width: 25px;
    height: 5px;
    border-style: solid;
    border: #ee7f2d;
    background: #ee7f2d;
    z-index: -1;
  }

  .social span {
    color: #ee7f2d;
  }

  .social > .left {
    left: 95px;
  }
  .social > .right {
    left: 150px;
  }

.icon-github-circled {
  font-size: 36px;
}
/* Unfortunately, the three icons do not come from the same font, so the kerning
 * of the circles isn't uniform. In order to space the circles evenly, negative
 * margins were applied to the left and right of the center circle until
 * neighboring circles touched on the edges. Then 20px were added to each side
 * to create the spacing. */
.icon-twitter-circled {
  margin-left: 13px;
  margin-right: 15px;
  font-size: 33px;
}
.icon-linkedin-circled {
  font-size: 33px;
}

/*----------------------------------------------------------------------------*/
/* Lightbox for layout overlay when menu is active                            */
/*----------------------------------------------------------------------------*/
#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0px;
  opacity: 0;
  background: #000;
  z-index: 1;
  display: none;
  cursor: pointer;
}

/*----------------------------------------------------------------------------*/
/* Logo (SVG and text)                                                        */
/*----------------------------------------------------------------------------*/
.logo {
  position: relative;
  margin: 2.5em auto;

  /* Make the logo unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  /* The colors of the title and logo center circle change as a pair on hover */
  .logo a:hover #center-circle {
    fill: #000;
  }
  .logo a:hover > h1 {
    color: #ee7f2d;
  }
  .logo h1 {
    position: absolute;
    top: 16px;
    left: 119px;
    color: #000;
    font-size: 2.8em; /* Keywords don't go large enough */
    line-height: initial;
  }
  .logo > h3 {
    position: absolute;
    top: 56px;
    left: 120px;
    font-size: larger;
  }
  .pages {
    position: absolute;
    top: 75px;
    left: 120px;
    font-weight: bold;
  }
    .pages > a {
      color: #777;
    }
    .pages > a:hover {
      text-decoration: underline;
    }
    .pages > a:not(:last-child) {
      margin-right: 20px;
    }

/*----------------------------------------------------------------------------*/
/* Main content column which contains posts                                   */
/*----------------------------------------------------------------------------*/
#content {
  display: block;
  margin: 0 auto;
  padding: 0 5em;
  max-width: 800px;
  line-height: 1.75em;
  overflow: auto; /* This causes div to wrap child margins */
}

/*----------------------------------------------------------------------------*/
/* Posts                                                                      */
/*----------------------------------------------------------------------------*/
.posts h1, .posts h2, .posts h3, .posts h4, .posts h5, .posts h6 {
  display: inline-block;
  text-transform: uppercase;
}

.posts h2 {
  margin-top: 1em;
}

.posts > li > a:hover > h1,
.posts > li > a:focus > h1 {
  text-decoration: underline;
}

/* Separate posts */
.posts > li:not(:last-child) {
  margin-bottom: 3em;
  border-bottom: 4px dotted #ddd;
}

.meta {
  color: #777;
}

.post p {
  margin: 1em 0;
}

.post pre {
  margin: 1em 0;
  padding: 0 .4em;
  background: #ddd;
}
  /* Terminal style. Make a plugin for this! */
  .post pre.terminal {
    color: #FFF;
    background: #333;
  }
  .post pre.terminal code {
    background: #333;
  }

/* This affects code blocks only */
.post code > span {
  font-size: 80%;
}

.post ul, .post ol {
  margin-left: 3em;
}

/*----------------------------------------------------------------------------*/
/* Pagination                                                                 */
/*----------------------------------------------------------------------------*/
.pure-paginator {
  margin-top: 2em;
  text-align: center;
}
  .pure-paginator .pure-button {
    padding: .7em 1.2em;
  }
  .pure-paginator > li > a {
    color: #000;
    line-height: 1em;
  }
    .pure-paginator > li > a:hover,
    .pure-paginator > li > a:focus {
      text-decoration: none;
    }

/*----------------------------------------------------------------------------*/
/* Footer                                                                     */
/*----------------------------------------------------------------------------*/
.footer {
  max-width: 800px;
  margin: 2em auto 0 auto;
  border-top: 4px solid #ddd;
  padding: 1em 0;
  color: #777;
  font-size: x-small;
  text-align: center;
  line-height: 1.75em;
}

/*----------------------------------------------------------------------------*/
/* Media queries                                                              */
/*----------------------------------------------------------------------------*/
/* Screens larger than tablets */
@media (min-width: 768px) {
  #layout {
    padding-left: 270px;
  }

  /* Display menu */
  #menu {
    left: 270px;
  }

  #menu-drag {
    display: none;
  }

  #menu-link {
    display: none;
  }

  #content {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/* Tablets and smaller */
@media (max-width: 767px) {
  /* Center logo */
  .logo {
    width: 400px;
  }
}

/* Resize logo and fonts on smaller screens */
@media (max-width: 480px) {
  .logo {
    width: 270px;
    font-size: x-small;
  }
    .logo svg {
      width: 75px;
      height: 100px;
    }
    .logo h1, .logo > h3, .pages {
      left: 80px;
    }
    .logo > h3 {
      top: 44px;
    }
    .pages {
      top: 59px;
    }

  .posts {
    font-size: smaller;
  }
}

/* Mobile devices */
@media (max-width: 399px) {
  .logo {
    width: 190px;
    height: auto;
    text-align: center;
  }
    .logo h1, .logo > h3, .pages {
      position: static;
    }
    .logo > h3 {
      margin: 0;
      line-height: 1em;
    }
    .pages {
      line-height: 1.9em;
    }

  .posts {
    font-size: x-small;
    line-height: 1.75em;
  }
  
  /* .pure-paginator { */
  /*   font-size: xx-small; */
  /* } */
  .button-hidden {
    display: none;
  }
}
