/*----------------------------------------------------------------------------*/
/* Common tag styles                                                          */
/*----------------------------------------------------------------------------*/

/* Global margin reset */
* {
  margin: 0;
  padding: 0;
}

/* Body takes all of the screen */
html, body { height: 100%; }

body {
  width: 100%;
  min-width: 320px;
  background: #fff;
  font-size: 15px; /* Define all other font sizes relatively */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1em;
}

p {
  margin: 1em 0;
  word-break: break-word;
}

a { color: #ee7f2d; text-decoration: none; }
a:hover   { text-decoration: underline; }
a:visited { color: #eeaf2d; }

ul > li { list-style-type: none }

hr {
  border-style: solid;
  border-width: 1px;  
  color: #ddd;
}

code {
  padding: 0.1em 0.2em;
  background: #ddd;
  font-family: 'Droid Sans Mono', Courier New, monospace;
}

/* This causes multiline contents to honor padding */
pre > code {
  display: block;
  padding: 1.1em 0.6em;
  overflow-x: auto;
  line-height: 1.25em;
}

/*----------------------------------------------------------------------------*/
/* Layout (menu and main content)                                             */
/*----------------------------------------------------------------------------*/
#layout {
  position: relative;
  left: 0px;
  height: 100%;
  overflow-y: scroll;
}
  #layout.active {
      left: 270px;
  }

/*----------------------------------------------------------------------------*/
/* Sidebar menu                                                               */
/*----------------------------------------------------------------------------*/
#menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px; 
  margin-left: -270px; 
  background: #000;
  z-index: 2;
  /* -webkit-overflow-scrolling: touch; */

  /* Make the menu unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  #menu a {
    color: #fff;
  }
  /* Override the default Pure menu style */
  #menu.active {
    left: 270px;
  }
  #menu.active > #menu-drag {
    display: none;
  }


/* The menu as the user understands it (i.e. excluding the panning region */
#menu-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  overflow-y: auto; 
}

.pure-menu {
  position: absolute;
  top: 100px;
  width: 100%;
  border: none !important;
  background: transparent !important;
}
  /* Light separating border between menu groups */
  .pure-menu > ul {
    border-top: 1px solid #333;
  }

  .pure-menu li > a {
    padding: 6px 20px;
    border: 0;
    white-space: initial;
  }
  /* Menu hover/focus color */
  .pure-menu li > a:hover,
  .pure-menu li > a:focus {
    border-left: 5px solid #ee7f2d;
    background: #333;
    text-decoration: none;
    outline: none;
  }
  /* Selected menu item */
  .pure-menu li > a.pure-menu-selected {
    background: #555;
  }

#menu-drag {
  position: absolute;
  display: block;
  top: 0;
  right: -25px;
  bottom: 0;
  width: 25px;
  background: transparent;
}

/* Menu link for responsive toggle */
#menu-link {
  position: absolute;
  display: block; 
  top: 0;
  left: 270px; 
  width: 21px;
  height: auto;
  padding: 20px 15px;
  background: #000;
  font-size: 10px; /* change this value to increase/decrease button size */
  opacity: 1;
  z-index: 10;
  cursor: pointer;
  outline: none;
}
  #menu-link:hover > span,
  #menu-link:hover > span:before,
  #menu-link:hover > span:after,
  #menu-link:focus > span,
  #menu-link:focus > span:before,
  #menu-link:focus > span:after {
    background: #ee7f2d;
  }
  #menu-link > span,
  #menu-link > span:before,
  #menu-link > span:after {
    position: relative;
    display: block;
    width: 100%;
    height: 0.2em;
    border-radius: 1em;
    background: #fff;
    transition: 0.3s;
  }
  #menu-link > span:before,
  #menu-link > span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
    transform-origin: 10%;
  }
  #menu-link > span:after {
    margin-top: 0.6em;
  }
  #menu-link.active > span {
    background: transparent;
  }
  #menu-link.active > span:before,
  #menu-link.active > span:after {
    margin-left: 3px;
  }
  #menu-link.active > span:before {
    transform: rotate3d(0, 0, 1, 45deg);
  }
  #menu-link.active > span:after {
    transform: rotate3d(0, 0, 1, -45deg);
  }
  #menu-link.fade {
    display: block;
    opacity: 0;
  }
  #menu-link.hide {
    display: none;
  }

/*----------------------------------------------------------------------------*/
/* Social icons                                                               */
/*----------------------------------------------------------------------------*/
.social {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  z-index: 0;
}
  .social > a {
    text-decoration: none;
  }
  .social > hr {
    position: absolute;
    top: 15px;
    width: 25px;
    height: 5px;
    border-style: solid;
    border: #ee7f2d;
    background: #ee7f2d;
    z-index: -1;
  }

  .social span {
    color: #ee7f2d;
  }

  .social > .left {
    left: 95px;
  }
  .social > .right {
    left: 150px;
  }

.icon-github, .icon-twitter, .icon-feed {
  font-size: 35px;
}
.icon-twitter {
  margin: 0 15px;
}

/*----------------------------------------------------------------------------*/
/* Lightbox for layout overlay when menu is active                            */
/*----------------------------------------------------------------------------*/
#lightbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #000;
  z-index: 1;
  display: none;
  cursor: pointer;
}

/*----------------------------------------------------------------------------*/
/* Figures                                                                    */
/*----------------------------------------------------------------------------*/
.figure-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

figure {
  max-width: 100%;
  background: #ddd;
}

img, figcaption {
  max-width: calc(100% - 10px);
  margin: 5px;
}

img {
  display: block;
}


/*----------------------------------------------------------------------------*/
/* Logo (SVG and text)                                                        */
/*----------------------------------------------------------------------------*/
.logo {
  position: relative;
  margin: 2.5em auto;

  /* Make the logo unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  /* The colors of the title and logo center circle change as a pair on hover */
  .logo a:hover #center-circle {
    fill: #000;
  }
  .logo a:hover > h1 {
    color: #ee7f2d;
  }
  .logo h1 {
    position: absolute;
    top: 10px;
    left: 119px;
    color: #000;
    font-size: 2.8em; /* Keywords don't go large enough */
    line-height: initial;
  }
  .logo > h3 {
    display: block;
    position: absolute;
    top: 55px;
    left: 120px;
    font-size: larger;
    text-transform: none;
    line-height: inherit;
  }
  .pages {
    position: absolute;
    top: 75px;
    left: 120px;
    font-weight: bold;
  }
    .pages > a {
      color: #777;
    }
    .pages > a:hover {
      text-decoration: underline;
    }
    .pages > a:not(:last-child) {
      margin-right: 20px;
    }

/*----------------------------------------------------------------------------*/
/* Main content column which contains posts                                   */
/*----------------------------------------------------------------------------*/
#content {
  display: block;
  margin: 0 auto;
  padding: 0 5em;
  max-width: 800px;
  line-height: 1.75em;
  /* overflow: auto; /1* This causes div to wrap child margins *1/ */
}

/*----------------------------------------------------------------------------*/
/* Posts                                                                      */
/*----------------------------------------------------------------------------*/
.posts > li > a:hover > h1,
.posts > li > a:focus > h1 {
  text-decoration: underline;
}

/* Separate posts */
.posts > li:not(:last-child) {
  margin-bottom: 3em;
  border-bottom: 4px dotted #ddd;
}

.meta {
  margin: 0;
  margin-bottom: 0.5em;
  color: #777;
}

.post pre {
  margin: 1em 0;
  background: #ddd;
}
  /* Terminal style. Make a plugin for this! */
  .post pre.terminal {
    color: #FFF;
    background: #333;
  }
  .post pre.terminal code {
    background: #333;
  }

/* This affects code blocks only */
.post code > span { font-size: 80% }

.post ul, .post ol { margin-left: 3em }

.post li { margin: 1em 0 }


.footnotes {
  border-top: 2px solid #ddd;
  font-size: smaller;
}

/*----------------------------------------------------------------------------*/
/* Pagination                                                                 */
/*----------------------------------------------------------------------------*/
.pure-paginator {
  margin-top: 2em;
  text-align: center;
}
  .pure-paginator .pure-button {
    padding: .7em 1em;
  }
  .pure-paginator > li > a {
    color: #000;
    line-height: 1em;
  }
    .pure-paginator > li > a:hover,
    .pure-paginator > li > a:focus {
      text-decoration: none;
    }

/*----------------------------------------------------------------------------*/
/* Footer                                                                     */
/*----------------------------------------------------------------------------*/
.footer {
  max-width: 800px;
  margin: 2em auto 0 auto;
  border-top: 4px solid #ddd;
  padding: 1em 0;
  color: #777;
  font-size: x-small;
  text-align: center;
  line-height: 1.75em;
}

.cc-img a {
  display: inline-block;
}

.cc-img img {
  max-width: 100%;
  margin: 0;
}

/*----------------------------------------------------------------------------*/
/* Iframe for projects                                                        */
/*----------------------------------------------------------------------------*/
.load-in {
  margin: 1em 0;
}
.load-in > iframe {
  width: 100%;
  border: none;
}

/*----------------------------------------------------------------------------*/
/* Chrome webstore buttons                                                    */
/*----------------------------------------------------------------------------*/
.webstore {
  padding: 0 20px;
  border: 1px solid #2d53af;
  border-radius: 2px;
  color: #fff;
  background-color: #4d7bd6;
  background-image: linear-gradient(to bottom,#5689db,#4d7bd6);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 28px;
  box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset, 0 2px 3px 0 rgba(0,0,0,.2);
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
  .webstore > div {
    display: inline-block;
    position: relative;
    top: 1px;
    width: 19px;
    height: 17px;
    margin-right: 7px;
    background: url("/assets/img/webstore+.png");
    vertical-align: text-bottom;
  }
  .webstore:hover,
  .webstore:focus {
    border-color: #4076ff;
    background-color: #5c92ff;
    background-image: linear-gradient(to bottom,#669eff,#5286ff);
  }
  .webstore.checking {
    pointer-events: none;
  }
    .webstore.checking:hover {
      border-color: #2d53af;
      background-color: #4d7bd6;
      background-image: linear-gradient(to bottom,#5689db,#4d7bd6);
    }
  .webstore.added {
    border-color: #488500;
    background-color: #5fb000;
    background-image: linear-gradient(to bottom,#71bf00,#4da100);
    pointer-events: none;
  }

/*----------------------------------------------------------------------------*/
/* Media queries                                                              */
/*----------------------------------------------------------------------------*/
/* Screens larger than tablets */
@media (min-width: 768px) {
  #layout {
    padding-left: 270px;
  }

  /* Display menu */
  #menu {
    left: 270px;
  }

  #menu-drag {
    display: none;
  }

  #content {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/* Tablets and smaller */
@media (max-width: 767px) {
  /* Center logo */
  .logo {
    width: 400px;
  }
}

/* Resize logo and fonts on smaller screens */
@media (max-width: 480px) {
  .logo {
    width: 270px;
    font-size: 11px;
  }
    .logo svg {
      width: 75px;
      height: 100px;
    }
    .logo h1, .logo > h3, .pages {
      top: 16px;
      left: 80px;
    }
    .logo > h3 {
      top: 46px;
    }
    .pages {
      top: 59px;
    }

  #content {
    font-size: smaller;
  }
}

/* Mobile devices */
@media (max-width: 399px) {
  .logo {
    width: 190px;
    height: auto;
    text-align: center;
  }
    .logo h1, .logo > h3, .pages {
      position: static;
    }
    .logo > h3 {
      margin: 0;
      line-height: 1em;
    }
    .pages {
      line-height: 1.9em;
    }

  #content {
    font-size: 11px;
  }
  
  .button-hidden {
    display: none;
  }
}
