<div class='logo'>
  <a href='/'>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="106" height="118" viewBox="0 0 212 236" enable-background="new 0 0 212 236" xml:space="preserve">
      <circle fill="#ee7f2d" cx="106.5" cy="213.5" r="22.5"/>
      <path fill="none" stroke="#ee7f2d" stroke-width="10" stroke-miterlimit="10" d="M106 154v63V154z"/>
      <circle fill="#ee7f2d" cx="105.5" cy="22.5" r="22.5"/>
      <path fill="none" stroke="#ee7f2d" stroke-width="10" stroke-miterlimit="10" d="M106 82V19 82z"/>
      <circle fill="#ee7f2d" cx="22.6" cy="70.2" r="22.5"/>
      <path fill="none" stroke="#ee7f2d" stroke-width="10" stroke-miterlimit="10" d="M74.3 99.5L19.8 68 74.3 99.5z"/>
      <circle fill="#ee7f2d" cx="188.9" cy="69.3" r="22.5"/>
      <path fill="none" stroke="#ee7f2d" stroke-width="10" stroke-miterlimit="10" d="M137.7 99.5l54.6-31.5L137.7 99.5z"/>
      <circle fill="#ee7f2d" cx="189.7" cy="165.3" r="22.5"/>
      <path fill="none" stroke="#ee7f2d" stroke-width="10" stroke-miterlimit="10" d="M137.9 136l54.6 31.5L137.9 136z"/>
      <circle fill="#FFFFFF" stroke="#ee7f2d" stroke-width="7" stroke-miterlimit="10" cx="105.4" cy="118.3" r="36"/>
      <circle id="center-circle" fill="#ee7f2d" cx="105.4" cy="118.3" r="27"/>
      <circle fill="#ee7f2d" cx="23" cy="166.4" r="22.5"/>
      <path fill="none" stroke="#ee7f2d" stroke-width="10" stroke-miterlimit="10" d="M74.3 136.3l-54.6 31.5L74.3 136.3z"/>
      <line fill="none" x1="22" y1="166.4" x2="106" y2="22.5"/>
      <line fill="none" stroke="#ee7f2d" stroke-width="7" stroke-miterlimit="10" x1="22" y1="166.4" x2="106" y2="22.5"/>
      <line fill="none" stroke="#ee7f2d" stroke-width="7" stroke-miterlimit="10" x1="22" y1="166.5" x2="192" y2="166.5"/>
      <line fill="none" stroke="#ee7f2d" stroke-width="7" stroke-miterlimit="10" x1="189.7" y1="165.3" x2="106" y2="22.5"/>
      <line fill="none" stroke="#ee7f2d" stroke-width="7" stroke-miterlimit="10" x1="106" y1="22.5" x2="188.9" y2="69.3"/>
      <line fill="none" stroke="#ee7f2d" stroke-width="7" stroke-miterlimit="10" x1="189.7" y1="165.3" x2="188.9" y2="69.3"/>
      <line fill="none" stroke="#ee7f2d" stroke-width="7" stroke-miterlimit="10" x1="189.7" y1="165.3" x2="106.5" y2="213.5"/>
      <line fill="none" stroke="#ee7f2d" stroke-width="7" stroke-miterlimit="10" x1="106.5" y1="213.5" x2="23" y2="166.4"/>
      <line fill="none" stroke="#ee7f2d" stroke-width="7" stroke-miterlimit="10" x1="23" y1="166.4" x2="22.6" y2="70.2"/>
      <line fill="none" stroke="#ee7f2d" stroke-width="7" stroke-miterlimit="10" x1="22.6" y1="70.2" x2="105.5" y2="22.5"/>
    </svg>
    <h1>{{ site.name }}</h1>
  </a>
  <h3>A Blog by Collin Stedman</h3>
  <!-- <div class='pages'> -->
  <!--   <a href='/'>Home</a> -->
  <!--   <a href='/about'>About</a> -->
  <!--   <a href='/projects'>Projects</a> -->
  <!-- </div> -->
</div>
